RELEASE_KEY={{ dumbvpn_release_key }}
DUMBVPN_REPO={{ dumbvpn_repo }}
DUMBVPN_BRANCH={{ dumbvpn_branch }}
DUMBVPN_KEEP_RELEASES={{ dumbvpn_keep_releases }}
DUMBVPN_DETAILS_URL=https://{{ dumbvpn_domain }}/
{% if dumbvpn_github_app_id | length > 0 %}
GITHUB_REPO={{ dumbvpn_github_repo }}
GITHUB_APP_ID={{ dumbvpn_github_app_id }}
GITHUB_APP_PRIVATE_KEY_FILE={{ dumbvpn_etc }}/github-app.pem
{% endif %}
