[Unit]
Description=DumbVPN relay
After=network-online.target
Wants=network-online.target
ConditionPathExists={{ dumbvpn_etc }}/runtime.env

[Service]
Type=simple
EnvironmentFile={{ dumbvpn_etc }}/runtime.env
LoadCredential=cert:/etc/letsencrypt/live/{{ dumbvpn_domain }}/fullchain.pem
LoadCredential=key:/etc/letsencrypt/live/{{ dumbvpn_domain }}/privkey.pem
ExecStart=/usr/local/bin/dumbvpn-relay -addr :${RELAY_PORT} -path /api/v1/relay -cert ${CREDENTIALS_DIRECTORY}/cert -key ${CREDENTIALS_DIRECTORY}/key
Restart=always
RestartSec=5s
LimitNOFILE=1048576
MemoryHigh=1500M
MemoryMax=2G

DynamicUser=yes
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
