[Unit]
Description=DumbVPN build of %I
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory={{ dumbvpn_home }}
EnvironmentFile={{ dumbvpn_etc }}/build.env
ExecStart=/usr/local/bin/dumbvpn-build %I
TimeoutStartSec={{ dumbvpn_build_timeout }}
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=6
PrivateTmp=yes
