NODE_ID={{ node_id }}
NODE_PRIORITY={{ node_priority }}
NODE_MESH_IP={{ node_mesh_ip }}
NODE_DOMAIN={{ node_id }}.{{ cluster_base_domain }}
CLUSTER_PEERS={{ groups['cluster'] | difference([inventory_hostname]) | map('extract', hostvars, 'node_mesh_ip') | join(',') }}
GOSSIP_PORT={{ cluster_gossip_port }}
UNSAFIE_LANES={{ cluster_lanes_root }}
DEFAULT_LANE=stable
WORKER_CONCURRENCY={{ cluster_worker_concurrency }}
ARBITER_REPO={{ cluster_arbiter_repo }}
ARBITER_PATH={{ cluster_arbiter_path }}
ARBITER_TOKEN={{ vault_arbiter_token | default('') }}
LEADER_BOT_TOKEN={{ vault_leader_bot_token | default('') }}
WEBHOOK_BASE_URL=https://{{ cluster_base_domain }}
WEBHOOK_SECRET={{ vault_webhook_secret | default('') }}
LEADER_PROMOTE_CMD={{ cluster_promote_cmd }}
LEADER_DNS_CMD={{ cluster_dns_cmd }}
