[defaults]
inventory = hosts.ini
retry_files_enabled = False
interpreter_python = auto_silent
vault_password_file = .vault_pass
strategy_plugins = ~/.local/share/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear

fact_caching = jsonfile
fact_caching_connection = ./.facts_cache
fact_caching_timeout = 3600
gathering = smart

[callback_default]
result_format = yaml
