[Unit]
Description=Cloudflare Tunnel
After=network-online.target nginx.service
Wants=network-online.target
ConditionPathExists={{ cloudflared_config_dir }}/config.yml

[Service]
Type=notify
User={{ cloudflared_user }}
Group={{ cloudflared_user }}
ExecStart=/usr/bin/cloudflared --config {{ cloudflared_config_dir }}/config.yml tunnel run
Restart=always
RestartSec=5s
TimeoutStartSec=0
LimitNOFILE=1048576
MemoryHigh=512M
MemoryMax=768M

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
PrivateDevices=yes
LockPersonality=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX

[Install]
WantedBy=multi-user.target
