[Unit]
Description=unsafie
After=network-online.target postgresql.service redis-server.service
Wants=network-online.target redis-server.service
Requires=postgresql.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/unsafie-reload start
ExecStop=/usr/local/bin/unsafie-reload stop
ExecReload=/usr/local/bin/unsafie-reload reload

[Install]
WantedBy=multi-user.target
