upstream unsafie_app {
    include {{ unsafie_config_dir }}/active-upstream.conf;
{% for instance in unsafie_instances if instance.role in ['all', 'web'] %}
    server {{ unsafie_host }}:{{ instance.port }} max_fails=3 fail_timeout=10s;
{% endfor %}
    keepalive 16;
}
